@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;

}

ul {
    display: flex;
    list-style-type: none;


}

.header,
.footer {
    display: flex;
    justify-content: space-between;
    position: static;
    color: grey;
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
}

.left-links {
    padding-left: 0;
    margin-left: 1em;
    gap: 10px;
    color: red;
}

.right-links {
    margin-right: 1em;
    gap: 10px;
}

img {
    width: 600px;
}

button {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    background: #eee;
    padding: 1em;
}

input {
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 8px 24px;
    width: 400px;
    margin-bottom: 16px;
}

.footer {
    background-color: #eeeeee;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: auto;
}

a {
    text-decoration: none;
    color: darkgrey;
}

.buttons {
    display: flex;
    gap: 5px;
    flex-wrap: nowrap;
}